{{>header}}

  <form action="/editbook" method="post">
  <h2>Casa "{{casa.catastro}}"</h2>
  <input type="hidden" name="id" value="{{casa.id}}"/>
  <div>
    <label>Catastro: </label>
    <input name="catastro" value="{{casa.catastro}}" placeholder="catastro"/>
  </div>
  <div>
    <label>Habitaciones: </label>
    <textarea name="habitaciones" placeholder="habitaciones">{{casa.habitaciones}}</textarea>
  </div>
  <div>
    <label>Metros: </label>
    <textarea name="metros" placeholder="metros">{{casa.metros}}</textarea>
  </div>
  <div>
    <label>Año construcción: </label>
    <textarea name="año construcción" placeholder="años construcción">{{casa.anioConstruccion}}</textarea>
  </div>
  <div>
    <label>Precio: </label>
    <textarea name="precio" placeholder="precio">{{casa.precio}}</textarea>
  </div>
   <input type="hidden" name="_csrf" value="{{token}}"/>
  <p>
    <button onclick="location.href='/casa/{{casa.id}}'; return false;">Cancel</button>
    <input type="submit" value="Save"/>
  </p>
  </form>
  
{{>footer}}