 <!DOCTYPE html>
<html>

<head>
<title>Encuentra tu hogar</title>
<base href=".">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

</head>

<!-- 3. Display the application -->

<body>
	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav mr-auto">
				<a class="navbar-brand" href="/">Encuentra tu hogar</a>
			</div>
		</div>
	</nav>
	<div class="container">

<p>Logout</p>	
<p>Usted ha cerrado la sesión correctamente</p>		

<p><a href="/">Volver a pagina principal</a></p>
<p><a href="/login"> Volver a Login</a></p>
	
</body>
</html>